Capa_Datos/Service References/ServicioTaxi/ServicioTaxi3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AMSystem.GestionTaxi.Servicio.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AMSystem.GestionTaxi.Servicio.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArticulos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Articulos" nillable="true" type="tns:Articulos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticulos" nillable="true" type="tns:ArrayOfArticulos" />
  <xs:complexType name="Articulos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoCentral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puntos" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Articulos" nillable="true" type="tns:Articulos" />
  <xs:complexType name="ArrayOfVentas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ventas" nillable="true" type="tns:Ventas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVentas" nillable="true" type="tns:ArrayOfVentas" />
  <xs:complexType name="Ventas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boleta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:double" />
      <xs:element minOccurs="0" name="Lineas" nillable="true" type="tns:ArrayOfLineasVentas" />
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuntosTotal" type="xs:double" />
      <xs:element minOccurs="0" name="ReferenciaPuntoCompra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenciaTaxista" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ventas" nillable="true" type="tns:Ventas" />
  <xs:complexType name="ArrayOfLineasVentas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineasVentas" nillable="true" type="tns:LineasVentas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineasVentas" nillable="true" type="tns:ArrayOfLineasVentas" />
  <xs:complexType name="LineasVentas">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoArticuloCentral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="Linea" type="xs:int" />
      <xs:element minOccurs="0" name="Puntos" type="xs:decimal" />
      <xs:element minOccurs="0" name="PuntosTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Venta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineasVentas" nillable="true" type="tns:LineasVentas" />
</xs:schema>